#body-row {
    margin-left:0;
    margin-right:0;
}

#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

.custom-toggler {
    background-color: #f8f9fa;
    border-color: rgba(255,255,255, 0);
    padding: 0px 5px 0px 5px;
    margin: 5px;
}

.custom-toggler:focus, .custom-toggler:active {
    outline: none;
    box-shadow: none;
  }